{if condition="$Request.header.x_pjax"}
<title>{$title}</title>
{/if}
{if condition="empty($data)"}
<div class="col-md-8 list-group">
  <h1>NOT FOUND</h1>
</div>
{else/}
{compare name="$Think.session.uid" value="0" type="gt"}
<a href="/bj" target="_blank">新增</a>
{/compare}
<div class="col-md-8 list-group" id="phtml">
  {if condition="isset($data.title)"}
  <h3>{$data.title}</h3>
  {$data.info}
  <div style="margin-left:115px;margin-top:20px;color:#ff0000"><a href="javascript:;" onclick="Preview()">打印这篇文章</a></div>
  <div style="margin-left:115px;color:#ff0000"><a href="/home/article/export_word/id/{$data.id}">导出为word</a></div>
  {else/}
  {volist name="data" id='vo'}
   <div class="list-group-item">
       <div class="row">
           <div class="col-xs-12 col-sm-10">
               <a href='{if condition="empty($vo.curl)"}/article/id/{$vo.id}{else/}{$vo.curl}{/if}'
               class="pjax-no" target="_blank"><h4>{$vo.title}</h4>
               {if condition="!empty($vo.img1)"}<img src="{$vo.img1}" style="width:100px;height:100px;margin-right:5px">{/if}
               {if condition="!empty($vo.img2)"}<img src="{$vo.img2}" style="width:100px;height:100px;margin-right:5px">{/if}
               {if condition="!empty($vo.img3)"}<img src="{$vo.img3}" style="width:100px;height:100px;margin-right:5px">{/if}
               {if condition="!empty($vo.img4)"}<img src="{$vo.img4}" style="width:100px;height:100px;margin-right:5px">{/if}
               </a>
               <p>{$vo.profile}</p>
               {compare name="$Think.session.uid" value="0" type="gt"}
               <a href="/bj/id/{$vo.id}" target="_blank">编辑</a>
               <a href="javascript:;" onclick="delete_article(this,{$vo.id},'{$vo.en}')">删除</a>
               {/compare}
           </div>
       </div>
   </div>
   {/volist}
   <div class="pjax-a">{$page}</div>
   {/if}
</div>
{/if}
