<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   <title>{$title}</title>
  <link href="/static/11/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/static/common/css/nprogress.css">
	<link rel="stylesheet" href="/static/11/css/font-awesome.min.css">
  <script src="/static/11/js/jquery-2.1.1.min.js"></script>
  </head>
  <style>
  body{font-family: '微软雅黑'}
  </style>
  <body>
	<header>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
        <div>
            <ul class="nav navbar-nav pjax-a">
                <li><a href="/article/en/suibi">随笔</a></li>
                <li><a href="/article/en/jilu">记录</a></li>
                <li class="dropdown">
                    <a href="jacascript:;" class="dropdown-toggle" data-toggle="dropdown">
                        学习<b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/article/en/php">PHP</a></li>
                        <li class="divider"></li>
                        <li><a href="/article/en/js">javascript</a></li>
                        <li class="divider"></li>
                        <li><a href="/article/en/mysql">mysql</a></li>
                        <li class="divider"></li>
                        <li><a href="/article/en/redis">redis</a></li>
                        <li class="divider"></li>
                        <li><a href="/article/en/nodejs">nodejs</a></li>
                        <li class="divider"></li>
                        <li><a href="/article/en/http">http</a></li>
                    </ul>
                </li>
                <li>&nbsp;&nbsp;&nbsp;</li>
                <li><input type="text" class="form-control" name="kw" placeholder="输入后按enter键" id="s"></li>
            </ul>
        </div>
        </div>
    </nav>
	</header>
