<!DOCTYPE html>
<html lang="zh-cn">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{$article.id ? '编辑文章' : '新增文章'}</title>
  <link href="/static/11/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/static/11/css/font-awesome.min.css">
  <link href="/src/css/layui.css" rel="stylesheet">
  <link href="/fileinput/css/fileinput.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/edit/css/wangEditor.css">
</head>
<style>
body{font-family: '微软雅黑';background-color: #ddd}
</style>
<body>
  <header></header>
  <section class="container">
    <div class="form-horizontal" style="padding-top:40px">
      <div class="form-group">
        <label for="" class="col-sm-2 control-label">文章标题：</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="title" id="title" value="" placeholder="请输入标题">
        </div>
      </div>
      <div class="form-group">
        <label for="" class="col-sm-2 control-label">类别：</label>
        <div class="col-sm-10">
          <select class="form-control" id="en">
            {foreach name="cate" id="cate"}
              <option value="{$cate.en}" >{$cate.name}</option>
            {/foreach}
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="" class="col-sm-2 control-label">文章图片：</label>
        <div class="col-sm-10">
          <input id="fileImages" class="file" name="suFiles[]" type="file" multiple data-preview-file-type="any" >
          <div class="file-input file-input-ajax-new">
          <div class="file-preview-thumbnails">
            <div id="imgPreview" class="file-live-thumbs">
            </div>
          </div>
        </div>
      </div>
      </div>
      <div class="form-group">
        <label for="" class="col-sm-2 control-label">简介：</label>
        <div class="col-sm-10">
          <textarea class="form-control" rows="3" name="profile" id="profile"></textarea>
        </div>
      </div>
      <div class="form-group">
        <label for="" class="col-sm-2 control-label">外链地址：</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="curl" id="curl" value="" placeholder="请输入以http://或https://开头的链接地址">
          <font color="#ff0000">(如外链地址填写，内容选项无需填写，标题也可以不填写，系统会根据地址获取对应的标题，
            如无法获取则默认此链接为标题。如已填写上述标题则以填写的为主)</font>
          </div>
        </div>
        <div class="form-group" id="addCurl">
          <label for="" class="col-sm-2 control-label">内容：</label>
          <div class="col-sm-10">
            <textarea class="form-control" rows="15" name="info" id="info">

            </textarea>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button class="btn btn-default" id="sub" name="0">提交新增</button>
          </div>
        </div>
      </div>
    </section>
    <textarea id="lahtml" style="visibility:hidden;">
      </div><div class="file-thumbnail-footer">
      <div class="file-thumb-progress"></div><div class="file-actions">
      <div class="file-footer-buttons">
      <button type="button" class="kv-file-remove btn btn-xs btn-default" title="删除文件" onclick="picmove(this)"><i class="glyphicon glyphicon-trash text-danger"></i></button>
      </div>
      <div class="clearfix"></div>
      </div>
      </div>
      </div>
    </textarea>
    <script src="/static/11/js/jquery-2.1.1.min.js"></script>
    <script src="/static/home/js/bootstrap.min.js"></script>
    <script src="/edit/js/wangEditor.js"></script>
    <script src="/src/layer.js"></script>
    <script src="/fileinput/js/fileinput.min.js"></script>
    <script src="/fileinput/js/zh.js"></script>
    <script type="text/javascript">
    var editor = new wangEditor('info');
    editor.create();
    </script>
    <script>
    var picmove = function(e){
      $(e).parents('.file-preview-frame').remove();
    }
    var html1 = '<div class="file-preview-frame file-preview-success" data-fileindex="-1" data-template="image"><div class="kv-file-content">';
    $("#fileImages").fileinput({
      language: 'zh',
      showPreview: false,
      uploadUrl:'/fileupload',
      allowedFileExtensions:['jpg','png','gif'],
      overwriteInitial:false,
      enctype:'multipart/form-data',
      maxFileSize:1000,
      maxFilesNum:4,
      slugCallback:function(filename){
        return filename.replace('(', '_').replace(']', '_');
      }
      }).on('filebatchselected', function(event, files) {
        $(this).fileinput('upload');
      }).on('fileuploaded',function(e,data){
        if(!data.response.err){
          var img = data.response.susname;
          var imghtml = html1 + '<a href="' + img +'" target="_blank"><img class="imgSrc" src="' + img + '" style="width:auto;height:160px;"></a>' + $('#lahtml').val();
          $('#imgPreview').append(imghtml);
        }else{
          alert(data.response.err);
        }
    })
    </script>
    <script>
    $(function(){
      $('#sub').on('click',function(){
        if($('#curl').val() == '' && $('#title').val() == ''){
          layer.tips('请输入标题','#title',{tips: [3, '#39BDF9']});
          return false;
        }
        if($('#curl').val() != '' && !$('#curl').val().match(/(http[s]?|ftp):\/\/[^\/\.]+?\..+\w/i)){
          layer.tips('请输入正确的外链地址','#curl',{tips: [3, '#39BDF9']});
          return false;
        }
        var id = {$article.id ? $article.id : 0};
        var imgArr = [];
        $('.imgSrc').each(function(){
          imgArr.push($(this).attr('src'));
        })
          $.ajax({
            url:'/add',
            type:'post',
            data:{
              title:$('#title').val(),
              info:$('#info').val(),
              profile:$('#profile').val(),
              en:$('#en').val(),
              curl:$('#curl').val(),
              img1:imgArr[0],
              img2:imgArr[1],
              img3:imgArr[2],
              img4:imgArr[3],
              id:id
            },
            beforeSend:function(){
              layer.msg('努力提交中',{
                icon: 16,
                shade: 0.3,
                time:0
              });
            },
            success:function(res){
              layer.close();
              if(res.s == 1){
                if(id > 0){
                  layer.msg('编辑成功', {icon: 1,shade: 0.3});
                }else{
                  layer.msg('新增成功', {icon: 1,shade: 0.3},function(){
                    window.location.reload();
                  });
                }
              }else if(res.s == 2){
                layer.msg('标题重复，请更改标题', {icon: 2});
              }else{
                console.log(res.i)
                layer.msg('提交失败，请稍后重试', {icon: 2});
              }
            }
          })
      })
    })
    </script>
  </body>
  </html>
